body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.breadcrumb {
    padding:16px 0 0;
}

.breadcrumb a {
    color:#1f3a93;
}

#category .section-title {
    margin-top:16px;
}

#category .table-wrapper {
    display:flex;
    justify-content:center;
}

#category .table {
    background:#fff;
    width:auto;
}

#footer {
    border-top: 2px solid #f5ab35;
    padding:20px 0;
}

#footer .contacts {
    align-items:flex-end;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#footer .contacts .contact a {
    color:#000;
    font-size:14px;
}

#footer .copyright {
    align-items:center;
    display:flex;
    justify-content:center;
}

#footer .logo {
    text-align:left;
}

#footer .logo img {
    max-height:60px;
}

#header-menu .navbar {
    background:#1f3a93 !important;
}

#header-menu .navbar-nav > li > a {
    color: #fff !important;
}

#header-top {
    height:90px;
    padding:15px 0;
}

#header-top .contacts {
    align-items:center;
    display:flex;
    justify-content:space-between;
}

#header-top .contacts .contact .icon {
    width: 34px;
    background: #f5ab35;
    border-radius: 100%;
    text-align: center;
    height: 34px;
    color: #fff;
    display:inline-block;
    line-height:34px;
    margin-right:8px;
}

#header-top .contacts .contact a {
    color:#000;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
}

#header-top .logo {
    text-align:left;
}

#header-top .logo img {
    max-height:60px;
}

#header-top .user {
    align-items:center;
    display:flex;
    justify-content:flex-end;
}

#header-top .user.authed {
    align-items:flex-end;
    flex-direction:column;
    justify-content:center;
}

#main {
    background:#fff url(../img/bg.png);
    flex: 1;
}

#order .select-partner .icon {
    display:none;
}

#order .select-partner.active .icon {
    display:inline-block;
}

#order .select-partner.active .text {
    display:none;
}

#search-partner-guest-data {
    justify-content:center;
    padding:16px 0 32px;
}

#search-partner-price-slider {
    padding-bottom:32px;
}

#search-partner-price-slider-value {
    color:#1f3a93;
    font-size:22px;
    font-weight:700;
    padding:16px 0 24px;
    text-align:center;
}

#search-partner-start-search-guest .icon {
    display:none;
}

#search-partner-start-search-guest.active .icon {
    display:inline-block;
}

#search-partner-start-search-guest.active .text {
    display:none;
}

.section-body {
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 15%);
    padding: 30px;
}

.section-title {
    overflow: hidden;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #1f3a93;
    line-height: 1.2;
}

.section-title span {
    display: inline-block;
    position: relative;
}

.section-title span:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    background: #f5ab35;
    left: 100%;
    margin-left: 30px;
    width: 999px;
}

.section-title span:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    background: #f5ab35;
    right: 100%;
    margin-right: 30px;
    width: 999px;
}

#services .category:hover, #services .category:active {
    text-decoration:none;
}

#services .category {
    color:#1f3a93;
    font-weight:700;
}

#services .category-wrapper {
    margin-bottom:32px;
}

#services .section-body {
    padding-bottom:0;
}

#services .services {
    padding:16px 0 8px;
    list-style-type:none;
    margin:0;
}

#services .services li::before {
    content: "▶";
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
    color: rgb(245, 171, 53);
}

#services .services a:hover,  #services .services a:active {
    text-decoration:none;
}

#services .show-all {
    color:#f5ab35!important;
}

#services .show-all:hover, #services .show-all:active {
    text-decoration:none;
}

@media (max-width: 1200px) {
    #header-menu .navbar {
        font-size:14px;
    }

    #header-top .contacts .icon {
        display:none!important;
        font-size:14px;
    }

    #header-top .contacts .contact a {
        font-size:14px;
    }
}

@media (max-width: 992px) {
    #header-menu .navbar .container {
        justify-content:center;
    }

    #header-menu .navbar-toggler {
        color:#FFF;
    }


    #header-top {
        height:auto;
    }

    #header-top .user.authed {
        align-items:center;
    }
}